@tailwind base;
@tailwind components;
@tailwind utilities;

.divider-2 {
  width: 5%;
  height: 4px;
  background-color: #fff;
}

.divider-3 {
  height: 4px;
  width: 10%;
  background-color: #5168b5;
}

.unset{
  all: unset;
}

.grid-col {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.grid-col-2 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0;
}



.btn-transition {
  transform: rotate(180deg);
}

.project-block {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
  /* .select2-container {
    width: 90% !important;
  } */
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* .select2-container {
    width: 85% !important;
  } */
}

@media screen and (max-width: 1200px) {
  /* .grid-layout {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
  } */
}

@media screen and (min-width: 1200px) {
  /* .grid-layout {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 40px;
  } */
}

@media screen and (min-width: 992px) {
  .grid-responsive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 16px;
  }
  .project-block-animated {
    max-height: 720px;
    transition: max-height 0.5s ease-in-out;
  }
}

@media screen and (max-width: 992px) {
  /* .select2-container {
    width: 100% !important;
  } */
  .grid-responsive {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  .d-none {
    display: none;
  }
  .project-block-animated {
    max-height: 2500px;
    transition: max-height 0.5s ease-in-out;
  }
}