@tailwind base;
@tailwind components;
@tailwind utilities;

.divider-2 {
  width: 5%;
  height: 4px;
  background-color: #fff;
}

.divider-3 {
  height: 4px;
  width: 10%;
  background-color: #5168b5;
}

.unset{
  all: unset;
}

.grid-col {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
}

.grid-col-2 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0;
}

.btn-transition {
  transform: rotate(180deg);
}

.project-block {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.menu-active{
  color: #fff !important;
}

.select2-search--dropdown {
  display: none !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: white !important;
  color: #2f80ed !important;
}

.select2-container--default .select2-results__option--selected {
  color: #2f80ed !important;
  background-color: white !important;
}

.select2-container--default .select2-results__option--highlighted:hover {
  transition: ease-in-out 0.3s;
  background-color: white !important;
  color: #2f80ed !important;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid white !important;
}

.select2-results__option {
  padding-left: 16px !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  background-image: url("/images/arrow-up.svg");
  z-index: 12;
  background-size: contain;
  border: none !important;
  height: 24px !important;
  width: 24px !important;
  left: 0 !important;
  margin: unset !important;
  top: 0% !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: white !important;
  line-height: 24px !important;
  font-size: 16px;
  font-weight: 500;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0 !important;
}

.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  transform: rotate(180deg);
}

.select2-dropdown {
  border: none !important;
  border-radius: 0% !important;
  box-shadow: 0px 4px 12px rgba(146, 140, 151, 0.25);
}

.btn-transition {
  transform: rotate(180deg);
}

@media screen and (min-width: 1200px) and (max-width: 1366px) {
  .select2-container {
    width: 90% !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .select2-container {
    width: 85% !important;
  }
}

@media screen and (max-width: 1200px) {
  .grid-layout {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .grid-layout {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 40px;
  }
}

@media screen and (min-width: 992px) {
  .grid-responsive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 16px;
  }
  .project-block-animated {
    max-height: 720px;
    transition: max-height 0.5s ease-in-out;
  }
}

@media screen and (max-width: 992px) {
  .select2-container {
    width: 100% !important;
  }
  .grid-responsive {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  .d-none {
    display: none;
  }
  .project-block-animated {
    max-height: 2500px;
    transition: max-height 0.5s ease-in-out;
  }
}